.popular-title-slide {
  white-space: nowrap; /* Prevents text from wrapping */
  color: #c4ef17; /* Set text color to customBlue */
  font-size: 18px; /* Set the font size */
  animation: slideRight 20s linear infinite; /* Apply animation */
}

.popular-item {
  overflow: hidden; /* Hide overflowing content */
}

.popular-item-slide {
  display: inline-block; /* Display slides inline */
  animation: slideRight 20s linear infinite; /* Apply animation */
}

@keyframes slideRight {
  from {
    transform: translateX(0); /* Initial position */
  }
  to {
    transform: translateX(-100%); /* Slide to the left */
  }
}
