.popular-title-slide {
  white-space: nowrap;
  color: #c4ef17;
  font-size: 25px;
  animation: slideRight 100s linear infinite;
  background :#0f1108;
}

.popular-item {
  overflow: hidden;
}

.popular-item-slide {
  display: inline-block;
  animation: slideRight 10s linear infinite;
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}