@keyframes glow {
    0% {
      text-shadow: 0 0 10px #c4ef17;
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 0, 255, 0.9);
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    }
  }
  
  .glow-on-hover:hover {
    animation: glow 1s ease-in-out infinite;
  }
  