
.product-image:hover {
    animation: bounce 0.5s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .product-display-container {
    display: flex;
    flex-direction: column;
    min-height: 160vh; 
    margin-bottom: -160px;
}

.productdisplay {
    flex: 1;
}
.product-image.main-image {
    width: 80%;
    border-radius:20px;
}

.main-image-slider .slick-list {
    margin: 10px;
    margin-left: 60px;
    margin-bottom: 20px; 
    margin-top: 20px;
    
}
.small-image img {
    width: 50%;
    height: auto;
    margin-left: 45px;
    border-radius: 20px;
}
@media (max-width: 800px) {
    .productdisplay-left .slick-slide {
        display: none;
    }
}

.slick-dots {
    bottom: auto;
    top: -20px;
    margin-left: -25px;
  }

.productdisplay-right h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}