.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin: 20px auto;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    height: 100vh;
    background: white;
    box-shadow: 0 0 10px #c4ef17;
    font-family: Bruno Ace SC;
    background: #efefef;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin: 0px 30px;
    padding: 10px;
    border-radius: 6px;
    background: #f6f6f6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Bruno Ace SC;
    color: #0f1108;
}

.sidebar-item:hover {
    background-color: #cec4c4;
}

.sidebar-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 200px;
    }

    .sidebar-item {
        padding: 8px;
    }

    .sidebar-item img {
        width: 20px;
        height: 20px;
    
    }
}
