.offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0f0f0f;
  }
  
  .image-animation {
    transition: transform 0.5s ease-in-out;
  }
  
  .content-animation {
    transition: opacity 0.5s ease-in-out;
  }
  
  @keyframes glowing {
    0% { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(64, 241, 19), 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff; }
    50% { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(98, 212, 45), 0 0 35px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 75px #0ff; }
    100% { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(55, 235, 31), 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff; }
  }
  
  .glow-text {
    animation: glowing 3s infinite alternate;
    -webkit-animation: glowing 3s infinite alternate;
}
  