/**.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 200px;
    margin-bottom: 200px;
    background: linear-gradient(180deg, #fde1fd, #1D0F2E 60%);;
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 40px;
    font-weight: 500;
}

.offers-left p{
    color: #171717;
    font-size: 20px;
    font-weight: 500;
}
.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #E593F0;
    border: none;
    color: white;
    font-size: 22px;
    font-family: 500;
    margin-top: 30px;
    cursor: cell;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
**/
.hexagon-neon-shadow {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .animate-float {
    animation: floatAnimation 5s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(-5%);
    }
    50% {
      transform: translateY(5%);
    }
  }
  
  .hexagon-neon-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #00a6a6, #49f4f4);
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: neonAnimation 2s infinite alternate;
  }
  
  @keyframes neonAnimation {
    0% {
      box-shadow: 0 0 10px #00a6a6, 0 0 20px #00a6a6, 0 0 30px #00a6a6;
    }
    100% {
      box-shadow: 0 0 5px #00a6a6, 0 0 10px #00a6a6, 0 0 15px #00a6a6;
    }
  }
  